* {
	font-family: sans-serif;
	font-size:30pt;
	color:#D0D0D0;
	padding: 0;
	margin: 0;
}

body {
	background-color: #20b798;
	background-image: url(../img/mapBullerBlur.png);
	background-repeat: no-repeat;
	background-size: 100% 140%;
}
table, tr, td {
	border: 1px dotted green;
}
table {
	width: 100%;
	padding-top: 20px;
}
input[type=range] {
	width: 100%;
}
td {
	text-align: center;
	padding-top: 37px;
	color: rgba(255,255,255,0.8)
}
div{}
.headingText {
	position: relative;
	border: 1px solid orange;
	text-align: center;
	font-size: 50pt;
}
button {
	 background-color: #2196F3;
	 color: white;
	 padding: 14px 20px;
}
button.buttonBig {
	 background-color: #2196F3;
	 color: white;
	 font-size: 90pt;
	 border-radius: 15px;
	 padding: 20px 40px;
}
#mapWrapper {
	width: 100%;
	height: 800px;
	position:relative;
}
#mapWrapper img {
	width: 100%;
	position:absolute;
	top: 0;
}
#mapSection {
	border: 3px dotted orange;
}
#mapSection .headingText {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid yellow;
    width: 100%;
}
#parameterControlSection {
	border: 3px dotted green;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	zoom:100%;
}
#mapSection button {
	font-size: 41px;
	padding: 3px 24px;
	XXXposition: absolute;
	left: 10px;
	top: 7px;
}
.iconSection td {
    padding-top: 150px;
}
.paramHeadSection td {
	color: #290354;
	font-size: 50px;
}
.wellSection {
	background-color: rgba(255,255,255,0.3);
}
.wellSection td {
    XXXborder: 1px solid red;
    padding: 20px;
}
img#icnPageMain {
	width: 400px;
}
