

g#gliders path , g#gliders line , g#gliders polyline ,
g#happyfeet path , g#happyfeet line , g#happyfeet polyline  
{
	stroke:yellow;
}

g#bourkest path , g#bourkest line , g#bourkest polyline ,
g#baldy path , g#baldy line , g#baldy polyline ,
g#burnthutspur path , g#burnthutspur line , g#burnthutspur polyline 
{
	stroke:green;
}

g#familyrun path , g#familyrun line , g#familyrun polyline ,
g#skyline path , g#skyline line , g#skyline polyline ,
g#canyontrail path , g#canyontrail line , g#canyontrail polyline ,
g#foxaccess path , g#foxaccess line , g#foxaccess polyline ,
g#hometrail path , g#hometrail line , g#hometrail polyline ,
g#summitaccess path , g#summitaccess line , g#summitaccess polyline ,
g#whiskeycreektrail path , g#whiskeycreektrail line , g#whiskeycreektrail polyline ,
g#shakeyknees path , g#shakeyknees line , g#shakeyknees polyline ,
g#summit path , g#summit line , g#summit polyline ,
g#blizzardracecourse path , g#blizzardracecourse line , g#blizzardracecourse polyline ,
g#boomerang path , g#boomerang line , g#boomerang polyline ,
g#colt path , g#colt line , g#colt polyline ,
g#littlebullerspur path , g#littlebullerspur line , g#littlebullerspur polyline ,
g#tirol path , g#tirol line , g#tirol polyline ,
g#wenzelsweave path , g#wenzelsweave line , g#wenzelsweave polyline ,
g#wombat path , g#wombat line , g#wombat polyline ,
g#boggycreek path , g#boggycreek line , g#boggycreek polyline ,
g#brumby path , g#brumby line , g#brumby polyline ,
g#chute path , g#chute line , g#chute polyline ,
g#crosscut path , g#crosscut line , g#crosscut polyline ,
g#standard path , g#standard line , g#standard polyline ,
g#vista path , g#vista line , g#vista polyline ,
g#waler path , g#waler line , g#waler polyline ,
g#windlessmarissa path , g#windlessmarissa line , g#windlessmarissa polyline ,
g#laycockslane path , g#laycockslane line , g#laycockslane polyline ,
g#cattlemanstrail path , g#cattlemanstrail line , g#cattlemanstrail polyline ,
g#summitslide path , g#summitslide line , g#summitslide polyline ,
g#chamois path , g#chamois line , g#chamois polyline  
{
	stroke:blue;
}

g#cowcamp path , g#cowcamp line , g#cowcamp polyline ,
g#howqua path , g#howqua line , g#howqua polyline ,
g#stchristopher path , g#stchristopher line , g#stchristopher polyline ,
g#village path , g#village line , g#village polyline ,
g#wattlewiggle path , g#wattlewiggle line , g#wattlewiggle polyline ,
g#wombatbottomroad path , g#wombatbottomroad line , g#wombatbottomroad polyline ,
g#wombatmidroad path , g#wombatmidroad line , g#wombatmidroad polyline ,
g#boulders path , g#boulders line , g#boulders polyline ,
g#chaletcreek path , g#chaletcreek line , g#chaletcreek polyline ,
g#damrun path , g#damrun line , g#damrun polyline ,
g#elephantrun path , g#elephantrun line , g#elephantrun polyline ,
g#hoggsback path , g#hoggsback line , g#hoggsback polyline ,
g#mensdownhill path , g#mensdownhill line , g#mensdownhill polyline ,
g#roughcut path , g#roughcut line , g#roughcut polyline ,
g#scvhutrun path , g#scvhutrun line , g#scvhutrun polyline ,
g#summitblack path , g#summitblack line , g#summitblack polyline ,
g#sunvalley path , g#sunvalley line , g#sunvalley polyline ,
g#womensdownhill path , g#womensdownhill line , g#womensdownhill polyline ,
g#yurredla path , g#yurredla line , g#yurredla polyline ,
g#plughole path , g#plughole line , g#plughole polyline ,
g#woodrun path , g#woodrun line , g#woodrun polyline ,
g#bullrun path , g#bullrun line , g#bullrun polyline ,
g#fallline path , g#fallline line , g#fallline polyline ,
g#funnel path , g#funnel line , g#funnel polyline ,
g#rushrun path , g#rushrun line , g#rushrun polyline ,
g#zwierszigzag path , g#zwierszigzag line , g#zwierszigzag polyline ,
g#bloodyhell path , g#bloodyhell line , g#bloodyhell polyline ,
g#fastone path , g#fastone line , g#fastone polyline ,
g#federation path , g#federation line , g#federation polyline ,
g#outeredge path , g#outeredge line , g#outeredge polyline ,
g#ridgerun path , g#ridgerun line , g#ridgerun polyline ,
g#slalomgully path , g#slalomgully line , g#slalomgully polyline ,
g#thulkes path , g#thulkes line , g#thulkes polyline ,
g#cut73 path , g#cut73 line , g#cut73 polyline ,
g#powderkeg path , g#powderkeg line , g#powderkeg polyline ,
g#robins path , g#robins line , g#robins polyline 
{
	stroke:black;
}

g#fannysfinish path , g#fannysfinish line , g#fannysfinish polyline ,
g#thechutes path , g#thechutes line , g#thechutes polyline 
{
	stroke:black;
}
